---
named_master_zones:
  - name: "devops.club"
    src: "{{ playbook_dir }}/files/devops_club/dns/devops.club"
    allow_transfer:
      - "172.16.4.4"
      - "172.16.8.1"
named_slave_zones:
  - name: "4.16.172.in-addr.arpa"
    masters:
      - "172.16.4.4"
    allow_notify:
      - "172.16.8.1"
  - name: "8.16.172.in-addr.arpa"
    masters:
      - "172.16.4.4"
    allow_notify:
      - "172.16.8.1"
  - name: "16.16.172.in-addr.arpa"
    masters:
      - "172.16.4.4"
    allow_notify:
      - "172.16.8.1"
