// ############################################################################
// named.conf: {{ ansible_managed }}
// ############################################################################

options {
{% if named_listen_ipv4 %}
{% for port in named_listen_ipv4_ports %}
	listen-on port {{ port}} { {% for addr_spec in named_listen_ipv4_addr_list %}{{ addr_spec }};{% endfor %} };
{% endfor %}
{% endif %}
{% if named_listen_ipv4 %}
{% for port in named_listen_ipv6_ports %}
	listen-on-v6 port {{ port}} { {% for addr_spec in named_listen_ipv6_addr_list %}{{ addr_spec }};{% endfor %} };
{% endfor %}
{% endif %}

	directory 	"{{ named_workdir }}";
	dump-file 	"/var/named/data/cache_dump.db";
	statistics-file "/var/named/data/named_stats.txt";
	memstatistics-file "/var/named/data/named_mem_stats.txt";
	secroots-file	"/var/named/data/named.secroots";
	recursing-file	"/var/named/data/named.recursing";

	allow-query     { 
{% for addr_spec in named_allow_query %}
		{{ addr_spec }}; 
{% endfor %}
	};

	recursion yes;

	dnssec-enable yes;
	dnssec-validation yes;

	managed-keys-directory "/var/named/dynamic";

	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";

	/* https://fedoraproject.org/wiki/Changes/CryptoPolicy */
	include "{{ named_sysconfig_dir }}/crypto-policies/back-ends/bind.config";
};

logging {
	channel default_debug {
		file "data/named.run";
		severity dynamic;
	};
};

zone "." IN {
	type hint;
	file "named.ca";
};

include "{{ named_sysconfig_dir }}/named.rfc1912.zones";
include "{{ named_sysconfig_dir }}/named.root.key";
include "{{ named_sysconfig_dir }}/named/master.conf";
include "{{ named_sysconfig_dir }}/named/slave.conf";
