// ############################################################################
// slave.conf: {{ ansible_managed }}
// ############################################################################

{% for zone in named_slave_zones %}
zone "{{ zone.name }}" {
    type slave;
    file "{{ named_slave_dst}}/{{ zone.name }}";
    masters {
{% for master in zone.masters %}
          {{ master }};
{% endfor %}
    };
{% if zone.allow_notify | default([]) %}
    allow-notify {
{% for host in zone.allow_notify %}
          {{ host }};
{% endfor %}
    };
{% endif %}
};
{% endfor %}
